<table class="w-full  font-primary text-center">
  <tr>
    <td class="text-[24px] p-[20px] font-bold text-[#005555]">Excepteur sint occaecat cupidatat </td>    
  </tr>
  <tr>
    <td class="text-[16px] px-[50px] text-[#444444] leading-[18.4px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </td>
  </tr>
  <tr>
    <td class="p-[20px] pb-[35px] align-center-table">
      <table class="">
        <tr>
          <td class="w-[350px] h-[46px] bg-[#005555] rounded-[10px] text-center">
            <a href="#" class="text-[#fff]" target="_blank">click here</a>
          </td> 
        </tr>
      </table>
    </td>
  </tr> 
</table>
