<table class="w-full bg-[#F0F5F5]">
  <tr>
    <td class="text-[24px] p-[20px] font-bold text-center text-[#005555]"> Sint cupidatat occaecat ut</td>
  </tr>
  <tr>
    <td class="p-[20px] pb-[40px]">
      <table class="w-full p-[10px] ">
        <tr class="sm:hidden block">
          <td class="w-[47%] pt-[30px] p-[20px] align-center-table bg-[#FFFFFF] ">
            <table class="">
              <tr>
                <td class="bg-[#e5e7eb] rounded-[50%] w-[100px] h-[100px]"></td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="text-[20px] font-bold text-[#005555]  p-[20px]">Nisi ut ade</td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="text-[16px] font-primary text-center ">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam.¹
                </td>
              </tr>
            </table>
          </td>
          <td class="w-[6%] bg-[#F0F5F5] "></td>
          <td class="w-[47%] pt-[30px] p-[20px] align-center-table bg-[#FFFFFF] ">
            <table class="">
              <tr>
                <td class="bg-[#e5e7eb] rounded-[50%] w-[100px] h-[100px]"></td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="text-[20px] font-bold text-[#005555]  p-[20px]">Duis aute irure</td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="text-[16px] font-primary text-center ">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam.²
                </td>
              </tr>
            </table>
          </td>

        </tr>
<!-- mobile view -->
        <tr class="hidden sm:block">
          <td class="w-full  pt-[30px] p-[20px] align-center-table bg-[#FFFFFF] ">
            <table class="">
              <tr>
                <td class="bg-[#e5e7eb] rounded-[50%] w-[100px] h-[100px]"></td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="text-[20px] font-bold text-[#005555]  p-[20px]">Nisi ut ade</td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="text-[16px] font-primary text-center ">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam.¹
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <td class="w-full p-[10px] bg-[#F0F5F5] hidden sm:block"></td>
        <tr class="hidden sm:block">
          <td class="w-full  pt-[30px] p-[20px] align-center-table bg-[#FFFFFF] ">
            <table class="">
              <tr>
                <td class="bg-[#e5e7eb] rounded-[50%] w-[100px] h-[100px]"></td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="text-[20px] font-bold text-[#005555]  p-[20px]">Nisi ut ade</td>
              </tr>
            </table>
            <table>
              <tr>
                <td class="text-[16px] font-primary text-center ">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam.¹
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>



    
    
  </tr>
</table>